*/1 * * * * /bin/bash -l -c 'cd /home/openerp/ktv_db_sync && ./exp_openerp_imp_mssql.sh >> imp_mssql.log'
*/1 * * * * /bin/bash -l -c 'cd /home/openerp/ktv_db_sync && ./exp_mssql_imp_openerp.sh >> imp_openerp.log'
